@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

.table-container {
    display: flex;
    justify-content: center;
}

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
    width: 100%;
}

.rwd-table tr {
    border-bottom: 1px solid #ddd;
}

.rwd-table tr:first-child {
    border: none;
}

.rwd-table tr:last-child {
    border-bottom: none;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 700px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

@media (min-width: 700px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }


}

@media (max-width: 700px) {
    .table-edit-buttons {
        margin-top: 5px;
    }
}


.rwd-table {
    background: var(--secondary-font);
    color: var(--primary-font);
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #47007f;
}

.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 700px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th, .rwd-table td:before {
    color: var(--primary-additional);
}

.rwd-table th {
    background-color: var(--primary-additional);
    color: var(--secondary-font);
}

.rwd-table tr:hover {
    background-color: #e3e5e0;
}