/* ---  --- */

/* --- General styles --- */
@font-face {
    font-family: Lora;
    src: url("fonts/Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Century Gothic";
    src: url("fonts/CenturyGothic.ttf");
}

* {
    --primary-background: #081B26;
    --secondary-background: #397373;
    --primary-font: #4B4B4B;
    --secondary-font: #D6D9C5;
    --primary-additional: #A65C41;
    --secondary-aditional: #8C2C23;

}

body {
    background-color: var(--primary-background);
    color: var(--primary-font);
}

header {
    font-family: "Century Gothic", sans-serif;
}

main {
    font-family: Lora, serif;
}

.white-font {
    color: var(--secondary-font);
}


/* --- >>>>>>>>>> MOBILE <<<<<<<<<< --- */

body {
    margin: 0;
}

/* --- HEADER --- */

.navbar {
    background-color: var(--secondary-background);
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    padding: 0;
}

.navbar-brand img {
    max-height: 60px;
    padding: 10px 0;
}

.search {
    margin: 0;
}

.btn-primary {
    background-color: var(--primary-additional);
    border-color: var(--primary-additional);
}

.btn-primary:hover {
    background-color: var(--secondary-aditional);
    border-color: var(--secondary-aditional);
}

.dropdown-menu {
    background-color: #428383;
    color: var(--primary-font);
}

.dropdown-item:hover {
    background-color: var(--secondary-background);
}

/* --- CONTENT --- */

main {
    margin: 25px;
}

.page-header > img {
    max-height: 200px;
}

.page-header i {
    color: #8a8a85;
}

/* --- ARTICLE --- */

article {
    background-color: var(--secondary-font);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 1rem 0;
}

.article-title a {
    text-decoration: none;
    color: var(--primary-additional);
}

.article-title h1 {
    color: var(--primary-additional);
}

.article-text h2 {
    color: var(--primary-additional);
}

.article-text code, .article-text a {
    color: var(--secondary-aditional);
}

.article-image img {
    width: 100%;
    margin: 2rem 0;
}

.read-more a {
    color: var(--secondary-aditional);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 5px;
}

.read-more img {
    height: 1rem;
}

.article-perex {
    margin-top: 1rem;
}

/* --- CATEGORIES LIST --- */
.category-group {
    background-color: var(--secondary-font);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 1rem 0;
}

.category-group h2 {
    color: var(--primary-additional);
}

.category-group li {
    list-style: none;
}

.category-group a {
    color: var(--primary-font);
}

/* --- AUTHOR LIST --- */
.author-list img {
    height: 4rem;
    border-radius: 50%;
}

.author-list a, .author-list li {
    text-decoration: none;
    margin: 1rem 0;
}

/* --- >>>>>>>>>> TABLET <<<<<<<<<< --- */
@media screen and (min-width: 768px) {

}


/* --- >>>>>>>>>> DESKTOP <<<<<<<<<< --- */
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .header-logo img {
        max-height: 100px;
        margin: 0 20px 0 0;
    }

    header menu {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    menu > li {
        border: none;
        width: unset;
    }

    main {
        max-width: 1024px;
        margin: 20px auto;
    }
}

